<% title = (action == session_url ? "Log in" : "Sign up for a new account!") %>

<h2><%= title %></h2>

<form action="<%= action %>" method="POST">

  <label for="email">Email address: </label>
  <input id="email"
         type="text"
         name="user[email]"
         value="<%= user.email %>"
         >

  <label for="password">Password: </label>
  <input id="password"
         type="password"
         name="user[password]"
         value="<%= user.password %>"
         >

  <input type="submit" value="Sign up!">
</form>
